@page "/person/edit/{id:int}"
@using BlazorApp.Components.Forms
@inject DataSet data

<h3>Edit</h3>

<PersonForm />

@code {
    

    [Parameter]
    public int id { get; set; }

    protected override void OnInitialized()
    {
        // Person = data.GetData().ElementAt(id);
    }

   
}
